<div id="new">
  <div class="row">
    <label for="title">title: </label>
    <input id="title" [(ngModel)]="title" />
  </div>
  <div class="row">
    <button (click)="setHasDescription()">
      <ng-container *ngIf="!hasDescription">
        <mat-icon>check_box_outline_blank</mat-icon>
      </ng-container>
      <ng-container *ngIf="hasDescription">
        <mat-icon>check_box</mat-icon>
      </ng-container>
    </button>
    <ng-container *ngIf="hasDescription">
      <label for="desc">description: </label>
      <textarea id="desc" [(ngModel)]="description"></textarea>
    </ng-container>
  </div>
  <div class="row">
    <button (click)="setHasDueDate()">
      <ng-container *ngIf="!hasDueDate">
        <mat-icon>check_box_outline_blank</mat-icon>
      </ng-container>
      <ng-container *ngIf="hasDueDate">
        <mat-icon>check_box</mat-icon>
      </ng-container>
    </button>
    <ng-container *ngIf="hasDueDate">
      <label for="desc">due: </label>
      <input type="date" [(ngModel)]="dueDate" />
    </ng-container>
  </div>
  <div class="row">
    <button (click)="add()">Add</button>
  </div>
</div>